@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body h1 {
  font-size: 2.125rem;
  font-weight: bold;
  line-height: 34px;
}

body h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

body h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

body h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

body h5 {
  font-size: 1.125rem;
  font-weight: bold;
}

body h6 {
  font-size: 1rem;
  font-weight: bold;
}
